body,html{
    background-color: #fff;
}
.judul{
    background-color: #001f3f;
}
.font-colors{
    color: #fff;
}
.vector-3{
    margin-top: 100px;
    width: 20%;
}
.type-2{
    background-color: #0074D9;
}
.div-border{
    border-radius: 10px 10px 10px 10px;
    border-color: #000;
    border-style: groove;
}
.div-border2{
    border-radius: 10px 10px 10px 10px;
    border-color: #fff;
    border-style: groove;
}
.space{
    height: 200px;
}
.spacing{
    height: 300px;
}